.nav-tabs {
    display: flex;
    margin: 30px 0;
    padding-left: 100px;
    border-bottom: 1px solid black;
    width: 100%;
}

.nav-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #5F5F5F;
    font-weight: bold;
    margin-left: 30px;
    font-size: 24px;
}

.nav-link.active {
    color: red;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: none;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 50px;
    padding: 0 20px;
}

.item-card {
    width: 100%;
    cursor: pointer;
}

.item-card a {
    text-decoration: none;
}

.item-card img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 4px;
}

.sold-overlay {
    color: #e74c3c;
    font-size: 20px;
}

.item-card h3 {
    font-size: 25px;
    margin: 0;
    color: #000000;
}

.item-card h3:hover {
    text-decoration: underline;
}